.f-fifty{
    float: left;
    width: 50%;
    height: 100px;
}
.same{
	width: 100px;
	height: 100px;
	background: url('../img/same.svg') no-repeat;
}
.another-same{
	width: 100px;
	height: 100px;
	background: url('../img/another-same.svg') no-repeat;
}
.sub-same{
	width: 100px;
	height: 100px;
	background: url('../img/sub_img/same.svg') no-repeat;
}