.f-fifty{
    float: left;
    width: 50%;
    height: 100px;
}
.same{
	width: 100px;
	height: 100px;
	background: url('../img/same_dee749598a.svg') no-repeat;
}
.another-same{
	width: 100px;
	height: 100px;
	background: url('../img/another-same_d50512f594.svg') no-repeat;
}
.sub-same{
	width: 100px;
	height: 100px;
	background: url('../img/sub_img/same_c6d8d64368.svg') no-repeat;
}